<div class="create-modal p-3 pb-">
  <form [formGroup]="objTeamCreateForm" #objFormSelector="ngForm" (ngSubmit)="createTeam()">
    <div class="row mt-3 mb-3">
      <div class="col-12 text-center">
        <h4>
          Add new team
        </h4>
      </div>
    </div>
    <div class="modal-body pb-0 pt-0">
      <div class="mb-3">
        <div class="row">
          <div class="col-sm-12 col-md-6 mb-2 mb-md-0 form-group">
            <label class="required">Name</label>
            <input type="text" class="form-control" placeholder="Name" formControlName="name">
            <small *ngIf="objTeamCreateForm.controls['name'].invalid && (objFormSelector.submitted || objTeamCreateForm.controls['name'].touched)">Invalid name</small>
          </div>
          <div class="col-sm-12 col-md-6 mb-2 mb-md-0 form-group">
            <label class="required">Manager</label>
            <input type="text" class="form-control" placeholder="Manager" formControlName="manager">
            <small *ngIf="objTeamCreateForm.controls['manager'].invalid && (objFormSelector.submitted || objTeamCreateForm.controls['manager'].touched)">Invalid Manager</small>
          </div>
          <div class="col-12 mb-2 mt-2 form-group">
            <label class="required me-2">Logo</label>
            <input type="file" class="form-control form-control-file" formControlName="image" (change)="handleImageSelect($event)">
            <small *ngIf="objTeamCreateForm.controls['image'].invalid && (objFormSelector.submitted || objTeamCreateForm.controls['image'].touched)">Invalid image, Only jpg, jpeg,png files can be selected</small>
          </div>
        </div>
        <div class="row modal-foot m-4">
          <div class="col-12 text-center">
            <button class="btn btn-secondary me-2" type="button" (click)="openCloseModal(2)">close</button>
            <button class="btn btn-primary" type="submit" [disabled]="blnShowSpinner">
              <i *ngIf="blnShowSpinner" class="fa-solid fa-spinner fa-spin"></i>
              <span *ngIf="!blnShowSpinner">Register</span>
            </button>
          </div>
        </div>
        <div class="file-cropper">
          <image-cropper
              [imageChangedEvent]="fileCropperLogo"
              [maintainAspectRatio]="true"
              [containWithinAspectRatio]="false"
              [aspectRatio]="1 / 1"
              [resizeToWidth]="200"
              [cropperMinWidth]="200"
              [onlyScaleDown]="true"
              [roundCropper]="true"
              (imageCropped)="imageCropped($event)"
              [canvasRotation]="0"
              [alignImage]="'center'"
              format="png"
          ></image-cropper>
      </div>
      </div>
    </div>
  </form>
</div>
