<div class="d-flex flex-column min-vh-100">
  <app-header></app-header>
 <div class="dash-body">
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
  <p>body goes hereee</p>
 </div>
  <div class="footer mt-auto">
    <app-footer></app-footer>
  </div>
</div>
