.modal-foot .btn {
  width: 105px !important;
}

.modal-body label {
  font-size: 14px;
}

.modal-body label.required::after {
  content: '*';
  color: #FF0000;
}

.form-control-file {
  height: auto !important;
}

.custom-file label {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-size: contain;
  transition: color 0.4s ease-in-out;
}

.custom-file label::after {
  transition: color 0.4s ease-in-out;
}

.custom-file label:hover::after {
  content: "Change";
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255, 0.7);
  align-items: center;
  height: 100px;
}

.custom-file input {
  display: none;
}

.required + small {
  color: red;
  font-size: 13px;
}
