
<div class="details-modal p-3">
  <ng-container *ngIf="blnShowSpinner">
    <app-spinner [blnRelativeClass]="true"></app-spinner>
  </ng-container>
  <div class="row mt-3 mb-3">
    <div class="col-12 text-center">
      <h5>
        {{objPlayerDetails?.name}}
      </h5>
    </div>
  </div>
  <div class="modal-body pb-0 pt-0">
    <form [formGroup]="objPlayerUpdateForm" #objFormSelector="ngForm" (ngSubmit)="updateUser()">
      <div class="row">
        <div class="col-sm-12 col-md-4 mb-2 mb-md-0 form-group">
          <label class="required">Name</label>
          <input type="text" class="form-control" placeholder="Name" formControlName="name">
          <small *ngIf="objPlayerUpdateForm.controls['name'].invalid && (objFormSelector.submitted || objPlayerUpdateForm.controls['name'].touched)">Invalid name</small>
        </div>
        <div class="col-sm-12 col-md-4 mb-2 mb-md-0 form-group">
          <label class="required">Phone</label>
          <input type="text" class="form-control" placeholder="Phone" formControlName="phone">
          <small *ngIf="objPlayerUpdateForm.controls['phone'].invalid && (objFormSelector.submitted || objPlayerUpdateForm.controls['phone'].touched)">Invalid phone</small>
        </div>
        <div class="col-sm-12 col-md-4 mb-2 mb-md-0 form-group">
          <label>Team</label>
          <select class="form-control" id="exampleFormControlSelect1" formControlName="team_id">
            <option [value]="null">Select team</option>
            <ng-container *ngFor="let team of arrTeamsList">
              <option [value]="team.id">{{team.name}}</option>
            </ng-container>
          </select>
        </div>
        <div class="col-12 modal-foot mt-4 mb-3 text-center">
          <button class="btn btn-secondary me-2" type="button" (click)="openCloseModal(2)">close</button>
          <button class="btn btn-primary" type="submit">Update</button>
        </div>
      </div>
    </form>
  </div>
</div>
