<header class="header">
  <div class="main-header">
    aaa
  </div>
  <div class="menu-header">
    <div class="container h-100 d-flex align-items-center">
      <div class="menu-items">
        <a [routerLink]="['/']" routerLinkActive="link-active" class="link-active"><i class="fa-solid fa-ranking-star me-2"></i>Tournaments</a>
        <a [routerLink]="['/login']" routerLinkActive="link-active"><i class="fa-solid fa-users-gear me-2"></i>Teams</a>
        <a [routerLink]="['/signup']" routerLinkActive="link-active"><i class="fa-solid fa-person-shelter me-2"></i>players</a>
      </div>
    </div>
  </div>
</header>
